
$icon-cancel: "\EA01" !default;

$icon-dashboard: "\EA02" !default;

$icon-desktop-monitor: "\EA03" !default;

$icon-expand-button: "\EA04" !default;

$icon-menu-icon: "\EA05" !default;

$icon-open-folder: "\EA06" !default;

$icon-refresh: "\EA07" !default;

$icon-wechat: "\EA08" !default;