.header{
	font-family: $title-main-font;
	font-size: 14px;
}
.main-logo{
	font-size: 30px;
	font-weight: 600;	
}
.section-title-secondary{
	font-family: $title-secondary-font;
}
.section-title-main{
	font-family: $title-main-font;
}
.facts{
	font-family: $title-main-font;
}
.services-title{
	font-family: $title-main-font;
}
.story-link{
	font-family: $title-main-font;
	font-weight: 800;
	font-size: 18px;
}
p{
	font-family: $main-font;
	line-height: 150%;
}