//colors
$main-color: #f38181;
$links-color: #fce38a;
$line-color: #eaffd0;
$info-color: #95e1d3;

$title-color: #000000;
$white-color: #ffffff;
$main-text-color: #999999;

//fonts
$main-font: 'Roboto';
$title-secondary-font: 'Kaushan Script';
$title-main-font: 'Montserrat';