/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

button {
  border: none;
  outline: none; }

.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px 20px 0;
  background-color: #65abd0;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s;
  /*====  btn--lg  ====*/
  /*== /btn--lg ==*/
  /*====   BTN--MD  ====*/
  /*== /btn--md ==*/
  /*====  BTN--CM  ====*/
  /*== /btn--sm ==*/ }
  .btn--rounded {
    border-radius: 5px; }
  .btn--round {
    border-radius: 999rem; }
  .btn--ghost {
    border: 2px solid #65abd0;
    background-color: transparent;
    color: #65abd0; }
    .btn--ghost:hover {
      border-color: #1383be;
      color: #1383be; }
  .btn--circle {
    position: relative;
    border-radius: 999rem; }
    .btn--circle:hover {
      background-color: #1383be; }
    .btn--circle:after {
      width: 2px;
      height: 2px;
      background-color: #fff;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%; }
  .btn--lg {
    min-width: 190px;
    padding: 18px;
    font-size: 18px; }
    .btn--lg:not(.btn--ghost):hover {
      background-color: #1383be; }
    .btn--lg--circle {
      width: 60px;
      height: 60px; }
      .btn--lg--circle:after {
        transform: translate(150%, -50%);
        box-shadow: -1px 1px 0 0 currentColor,  -2px 2px 0 0 currentColor,  -3px 3px 0 0 currentColor,  -4px 4px 0 0 currentColor,  -5px 5px 0 0 currentColor,  -6px 6px 0 0 currentColor,  -1px -1px 0 0 currentColor,  -2px -2px 0 0 currentColor,  -3px -3px 0 0 currentColor,  -4px -4px 0 0 currentColor,  -5px -5px 0 0 currentColor,  -6px -6px 0 0 currentColor; }
  .btn--md {
    min-width: 140px;
    padding: 12px;
    font-size: 16px; }
    .btn--md:not(.btn--ghost):hover {
      background-color: #1383be; }
    .btn--md--square {
      width: 48px;
      height: 48px; }
    .btn--md--circle {
      width: 48px;
      height: 48px; }
      .btn--md--circle:after {
        transform: translate(-300%, -50%);
        box-shadow: 1px -1px 0 0 currentColor,  2px -2px 0 0 currentColor,  3px -3px 0 0 currentColor,  4px -4px 0 0 currentColor,  5px -5px 0 0 currentColor,  6px -6px 0 0 currentColor,  1px 1px 0 0 currentColor,  2px 2px 0 0 currentColor,  3px 3px 0 0 currentColor,  4px 4px 0 0 currentColor,  5px 5px 0 0 currentColor,  6px 6px 0 0 currentColor; }
    .btn--md--arrow {
      border-radius: 5px;
      position: relative;
      min-width: 100px;
      padding-left: 27px;
      padding-right: 16px; }
      .btn--md--arrow:after {
        border-radius: 5px;
        width: 37px;
        height: 37px;
        background-color: inherit;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(42%, -50%) rotate(45deg); }
  .btn--square {
    border-radius: 5px;
    position: relative;
    padding: 0; }
    .btn--square:hover {
      background-color: #1383be; }
    .btn--square:after {
      width: 18px;
      height: 2px;
      background-color: currentColor;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 6px 0 0 currentColor,  0 -6px 0 0 currentColor; }
  .btn--arrow__text {
    position: relative;
    z-index: 1; }
  .btn--sm {
    min-width: 120px;
    padding: 6px 30px;
    font-size: 14px; }
    .btn--sm:not(.btn--ghost):hover {
      background-color: #1383be; }
    .btn--sm--square {
      width: 36px;
      height: 36px; }
      .btn--sm--square:hover {
        background-color: #1383be; }
    .btn--sm--circle {
      width: 36px;
      height: 36px; }
      .btn--sm--circle:after {
        transform: translate(100%, -50%);
        box-shadow: -1px -1px 0 0 currentColor,  -2px -2px 0 0 currentColor,  -3px -3px 0 0 currentColor,  -4px -4px 0 0 currentColor,  -1px 1px 0 0 currentColor,  -2px 2px 0 0 currentColor,  -3px 3px 0 0 currentColor,  -4px 4px 0 0 currentColor; }
      .btn--sm--circle--circle:hover {
        background-color: #1383be; }
    .btn--sm--arrow {
      border-radius: 5px;
      position: relative;
      min-width: 90px;
      padding-left: 25px;
      padding-right: 18px; }
      .btn--sm--arrow:after {
        border-radius: 5px;
        width: 29px;
        height: 29px;
        background-color: inherit;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(40%, -50%) rotate(45deg); }

/*== /btn ==*/
.buttons--split {
  margin: 40px 0; }

.split--align {
  width: 48px;
  height: 48px;
  background-color: #24aa98;
  position: relative;
  float: left;
  border-right: 1px solid #269e8e;
  border-left: 1px solid #269e8e;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s; }
  .split--align:last-child {
    border-right: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .split--align:first-child {
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }

.split--align__line {
  width: 18px;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.split--align:after {
  width: 8px;
  height: 2px;
  background-color: currentColor;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%; }

.split--align:before {
  width: 14px;
  height: 2px;
  background-color: currentColor;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%; }

.split--align:hover {
  background-color: #058e7c; }

.btn--split {
  overflow: hidden; }
  .btn--split--part {
    width: 38px;
    height: 36px;
    background-color: transparent;
    position: relative;
    float: left;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s; }
    .btn--split--part:after {
      width: 2px;
      height: 2px;
      background-color: currentColor;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%; }
    .btn--split--part:hover {
      background-color: #1383be; }
  .btn--split__left {
    border-right: 1px solid #609fc0; }
    .btn--split__left:after {
      transform: translate(-100%, -50%);
      box-shadow: 1px -1px 0 0 currentColor,  2px -2px 0 0 currentColor,  3px -3px 0 0 currentColor,  4px -4px 0 0 currentColor,  1px 1px 0 0 currentColor,  2px 2px 0 0 currentColor,  3px 3px 0 0 currentColor,  4px 4px 0 0 currentColor; }
  .btn--split__right {
    border-left: 1px solid #609fc0; }
    .btn--split__right:after {
      transform: translate(50%, -50%);
      box-shadow: -1px -1px 0 0 currentColor,  -2px -2px 0 0 currentColor,  -3px -3px 0 0 currentColor,  -4px -4px 0 0 currentColor,  -1px 1px 0 0 currentColor,  -2px 2px 0 0 currentColor,  -3px 3px 0 0 currentColor,  -4px 4px 0 0 currentColor; }

.split-btn {
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  margin: 0 16px 20px 0;
  color: #FFF; }

.split-btn--align {
  width: 144px;
  overflow: hidden; }
  .split-btn--align__left:before {
    transform: translate(-9px, -7px); }
  .split-btn--align__left:after {
    transform: translate(-9px, 5px); }
  .split-btn--align__center:before {
    transform: translate(-50%, -7px); }
  .split-btn--align__center:after {
    transform: translate(-50%, 5px); }
  .split-btn--align__right:before {
    transform: translate(-5px, -7px); }
  .split-btn--align__right:after {
    transform: translate(1px, 5px); }

.split-btn--input {
  position: relative;
  width: 296px; }

.split-btn--input__field {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  width: 100%;
  padding-left: 18px;
  padding-right: 80px;
  border: 2px solid #c6ccd2; }

.split-btn__simple-btn {
  width: 76px;
  height: 100%;
  background-color: #24aa98;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 6px 6px 0;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s; }

.split-btn__simple-btn:hover {
  background-color: #058e7c; }

.split-btn--dropdown--input {
  position: relative;
  width: 380px; }

.split-btn--dropdown--input__field {
  height: 100%;
  width: 100%;
  padding-left: 125px;
  padding-right: 80px;
  border: 2px solid #c6ccd2; }

.split-btn__open-btn {
  width: 112px;
  height: 100%;
  background-color: #24aa98;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 20px;
  border-radius: 6px 0 0 6px;
  color: #FFF;
  cursor: pointer;
  transition: 0.3s; }

.split-btn__open-btn:hover {
  background-color: #058e7c; }

.split-btn__open-btn:after {
  width: 2px;
  height: 2px;
  background-color: currentColor;
  content: '';
  position: absolute;
  top: 55%;
  right: 20px;
  box-shadow: 1px -1px 0 0 currentColor,  2px -2px 0 0 currentColor,  3px -3px 0 0 currentColor,  4px -4px 0 0 currentColor,  -1px -1px 0 0 currentColor,  -2px -2px 0 0 currentColor,  -3px -3px 0 0 currentColor,  -4px -4px 0 0 currentColor; }

.split-btn--dropdown {
  width: 60px; }
  .split-btn--dropdown__simple {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: #24aa98;
    position: relative;
    padding-right: 20px;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s; }
    .split-btn--dropdown__simple:hover {
      background-color: #058e7c; }
    .split-btn--dropdown__simple:after {
      width: 2px;
      height: 2px;
      background-color: currentColor;
      content: '';
      position: absolute;
      top: 55%;
      right: 15px;
      box-shadow: 1px -1px 0 0 currentColor,  2px -2px 0 0 currentColor,  3px -3px 0 0 currentColor,  4px -4px 0 0 currentColor,  -1px -1px 0 0 currentColor,  -2px -2px 0 0 currentColor,  -3px -3px 0 0 currentColor,  -4px -4px 0 0 currentColor; }

.field {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 0 16px 20px 0; }

.field--normal {
  height: 48px;
  font-size: 16px; }

.field--normal__search-icon {
  position: absolute;
  left: 17px;
  top: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #c6ccd2;
  transform: translateY(-60%); }

.field--normal__search-icon:after {
  width: 3px;
  height: 8px;
  background-color: #c6ccd2;
  content: '';
  position: absolute;
  top: 75%;
  right: -40%;
  transform: rotate(-45deg); }

.field--normal__search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  border-radius: 0 6px 6px 0;
  background-color: #c6ccd2;
  color: #FFF;
  cursor: pointer; }

.field--normal__search-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: translate(-60%, -60%); }

.field--normal__search-btn:before {
  width: 3px;
  height: 3px;
  background-color: currentColor;
  content: '';
  position: absolute;
  top: 57%;
  left: 57%;
  box-shadow: 1px 1px 0 0 currentColor,  2px 2px 0 0 currentColor,  3px 3px 0 0 currentColor,  4px 4px 0 0 currentColor,  5px 5px 0 0 currentColor; }

.field--normal.is-combo .field__input {
  width: calc(100% - 58px); }

.field--normal.is-combo .field--normal__search-btn {
  background-color: #24aa98;
  border-radius: 5px; }

.field.is-active .field__input {
  border-color: #65abd0; }

.field.is-active .field__search-icon {
  border-color: #383737;
  color: #383737; }

.field.is-active .field__search-icon:after {
  background-color: #383737; }

.field.is-active .field__close-circle-icon {
  display: block; }

.field__input {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 0 18px;
  border: 2px solid #c6ccd2;
  font-weight: bold; }

.field__input.placeholder {
  color: #c6ccd2; }

.field__input:-moz-placeholder {
  color: #c6ccd2; }

.field__input::-moz-placeholder {
  color: #c6ccd2; }

.field__input:-ms-input-placeholder {
  color: #c6ccd2; }

.field__input::-webkit-input-placeholder {
  color: #c6ccd2; }

.field__input--round {
  padding: 0 45px;
  border-radius: 24px; }

.field__input--split {
  padding-right: 50px; }

.field__close-circle-icon {
  width: 20px;
  height: 20px;
  background-color: #c6ccd2;
  position: absolute;
  top: 50%;
  right: 15px;
  display: none;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

.field__close-circle-icon:after, .field__close-circle-icon:before {
  width: 2px;
  height: 10px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%; }

.field__close-circle-icon:after {
  transform: translate(-50%, -50%) rotate(45deg); }

.field__close-circle-icon:before {
  transform: translate(-50%, -50%) rotate(-45deg); }

.field.is-filled .field__input {
  border-color: #24aa98; }

.field.is-error .field__input {
  border-color: #db7560; }

.field__check-icon {
  position: absolute;
  top: 50%;
  right: 11px;
  width: 14px;
  height: 10px;
  color: #24aa98;
  transform: translateY(-50%);
  cursor: pointer; }

.field__check-icon:after {
  width: 2px;
  height: 3px;
  background-color: currentColor;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor, -7px 7px 0 0 currentColor, -8px 6px 0 0 currentColor, -9px 5px 0 0 currentColor, -10px 4px 0 0 currentColor, -11px 3px 0 0 currentColor; }

.field__close-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 10px;
  height: 10px;
  color: #db7560;
  transform: translateY(-50%);
  cursor: pointer; }

.field__close-icon:after {
  width: 2px;
  height: 2px;
  background-color: currentColor;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor; }

.field--small {
  height: 36px;
  font-size: 14px; }

.field--small .field__input {
  padding: 0 15px; }

.field--small .field__input--round {
  border-radius: 18px;
  padding: 0 35px; }

.field--small .field__input--split {
  padding-right: 40px; }

.field--small .field__close-circle-icon {
  right: 9px; }

.field--small__search-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 11px;
  height: 11px;
  border: 2px solid #c6ccd2;
  border-radius: 50%;
  color: #c6ccd2;
  transform: translateY(-60%); }

.field--small__search-icon:after {
  width: 2px;
  height: 2px;
  background-color: currentColor;
  content: '';
  position: absolute;
  top: 80%;
  left: 85%;
  box-shadow: 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor; }

.field--small__search-btn {
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 100%;
  background-color: #c6ccd2;
  color: #FFF;
  cursor: pointer; }

.field--small__search-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: translate(-60%, -60%); }

.field--small__search-btn:before {
  width: 2px;
  height: 2px;
  background-color: currentColor;
  content: '';
  position: absolute;
  top: 55%;
  left: 55%;
  box-shadow: 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor; }

.field--small.is-combo .field__input {
  width: calc(100% - 46px); }

.field--small.is-combo .field--small__search-btn {
  background-color: #24aa98; }

.fields__small {
  margin: 30px 0; }

.fields__area {
  margin-bottom: 50px; }

.field-area {
  border-radius: 5px;
  width: 48%;
  height: 140px;
  padding: 10px 18px;
  border: 2px solid #c6ccd2;
  font-weight: bold; }

.field-area:focus {
  outline: none; }

.field-area:first-child {
  margin-right: 2%; }

.field-area.is-active {
  border-color: #65abd0; }

* {
  box-sizing: border-box; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0 20px;
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
