
$icon-dribbble-logo: "\EA01" !default;

$icon-facebook-logo: "\EA02" !default;

$icon-google-plus-symbol: "\EA03" !default;

$icon-twitter-logo-silhouette: "\EA04" !default;

$icon-vimeo-logo: "\EA05" !default;