@import 'icons/iconfont';
@import 'components/normalize';

/*======TYPOGRAPHY=====*/

@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_bold-webfont.eot');
    src: url('../fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('../fonts/nexa_bold-webfont.woff') format('woff'),
         url('../fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_light-webfont.eot');
    src: url('../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_light-webfont.woff2') format('woff2'),
         url('../fonts/nexa_light-webfont.woff') format('woff'),
         url('../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'felt_tip_womanregular';
    src: url('../fonts/felt_tip_woman-webfont.eot');
    src: url('../fonts/felt_tip_woman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/felt_tip_woman-webfont.woff2') format('woff2'),
         url('../fonts/felt_tip_woman-webfont.woff') format('woff'),
         url('../fonts/felt_tip_woman-webfont.svg#felt_tip_womanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open-sanslight';
    src: url('../fonts/open-sans-light.ttf');
    font-weight: normal;
    font-style: normal;

}

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	text-transform: uppercase;
}
.home,.about-me,.portfolio,.contact{
	min-height: 100vh;
	width: 100%;
	background-size: cover;
}

.nav{
	height: 10vh;
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	&__link{
		margin: 0 1.3% 0 1.3%;
		font-family: 'nexa_lightregular';
	}
}

.link-to-down{
	font-family: 'nexa_boldregular';
	text-align: center;
	font-size: 18px;

}
.icon{
	font-size: 32px;
}
.home__nav,.porfolio__nav{
	border-bottom: 1px solid #fff;
}
.about-me__nav,.contact__nav{
	border-bottom: 1px solid #bebebe;
}

.link-to-down--wrapper{
	text-align: center;
	margin-top: 8vh;
}

/*=======  HOME  ========*/
.home{
	background-image: url(../../images/background-home.jpg);
	&__content{
		height: 90vh;
		display: flex;
		flex-direction: column;		
		justify-content: space-between;
		align-items: center;
		
	}
	&__nav--link{
		color: #fff;
	}
	&__nav--link:hover{
		text-decoration: underline;
	}
	&__logo{
		margin-top: 80px;
		height: 44vh;
		width: auto;
	}
	&__title{
		font-size: 60px;
		color: #fff;
		text-transform: uppercase;
		font-family: 'nexa_lightregular';
	}
	&__link-to-down{
		color: #fff;
		
	}
	&__link-to-down:hover{
		color: #bebebe;
	}
}

/*=====  ABOUT ME =====*/


.about-me{
	&__nav--link{
		color: #bebebe;
	}
	&__nav--link:hover{
		color: #000;
	}
	&__content{
		margin-top: 7vh;
		display: flex;
		justify-content: center;
	}
	&__photo{
		max-width: 40%;
		max-height: 64vh;
		margin-right: 1.5%;
	}
	&__info{
		max-width: 40%;
		margin-left: 1.5%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		&--title{
			font-size: 60px;
			font-family: 'nexa_lightregular';
			text-transform: uppercase;
		}
		&--text{
			font-size: 1.5em;
			line-height: 2;
			letter-spacing: 0.025em;
			font-family: 'open-sanslight';
		}
		&--signature{
			font-family: 'felt_tip_womanregular';
			font-size: 36px;
		}
	}
	&__link-to-down{
		color: #bebebe;
	}
	&__link-to-down:hover{
		color: #000;
	}
}


/*===  PORTFOLIO  ===*/
.portfolio{
	background-image: url(../../images/background-portfolio.jpg);
	&__nav--link{
		color: #fff;
	}
	&__nav--link:hover{
		text-decoration: underline;
	}
	&__title{
		font-family: 'nexa_lightregular';
		padding: 8vh 0 8vh 0;
		color: #fff;
		font-size: 60px;
		text-align: center;
		text-transform: uppercase;
	}
	&__gallery{
		padding: 0 8.3% 0 8.3%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item{
		margin-bottom: 2vw;
	}
	&__item:hover{
		filter: brightness(70%);
	}
	&__link-to-down{
		color: #fff;
		padding-bottom: 20px;
	}
	&__link-to-down:hover{
		color: #bebebe;
	}
}


/*=====  CONTACT  =====*/

.contact{
	&__nav--link{
		color: #bebebe;
	}
	&__nav--link:hover{
		color: #000;
	}
	&__content{
		display: flex;
		align-items: center;
		flex-direction: column;
		
	}
	&__title{
		font-family: 'nexa_boldregular';
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		padding: 50px 0 25px 0;
		
	}
	&__link{
		color: #000;
		font-size: 60px;
		font-family: 'nexa_lightregular';
	}
	&__social-media{

	}
	position: relative;
}
.social-links{
	display: flex;
	justify-content: space-between;
}
.social--link{
	color: #000;
	border: 1px solid #000;
	width: 55px;
	height: 55px;
	text-align: center;
	padding-top: 8px;
	padding-left: 0;
	border-radius: 999rem;
}
.social--link:hover{
	color: #fff;
	background-color: #000;
}

.footer{
	position: absolute;
	margin-top: 20vh;
	width: 93%;
	height: 10vh;
	margin-left: 3.5%;
	bottom: 0;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	border-top: 1px solid #bebebe;
	color: #bebebe;
	font-family: 'nexa_lightregular';
}