@charset "UTF-8";
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: "icon-font";
  src: url("../dist/fonts/icon-font.eot");
  src: url("../dist/fonts/icon-font.?#iefix") format("embedded-opentype"), url("../dist/fonts/icon-font.woff") format("woff"), url("../dist/fonts/icon-font.woff2") format("woff2"), url("../dist/fonts/icon-font.ttf") format("truetype"), url("../dist/fonts/icon-font.#icon-font") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "icon-font"; }
  .icon:before {
    /* Some common icon stuff */ }
  .icon.icon--account:before {
    content: ""; }
  .icon.icon--e-mail:before {
    content: ""; }
  .icon.icon--exchange:before {
    content: ""; }
  .icon.icon--facebook-logo:before {
    content: ""; }
  .icon.icon--google-plus:before {
    content: ""; }
  .icon.icon--icq-logo:before {
    content: ""; }
  .icon.icon--telegram-logo:before {
    content: ""; }
  .icon.icon--triangle-down:before {
    content: ""; }
  .icon.icon--triangle-right:before {
    content: ""; }
  .icon.icon--twitter-logo:before {
    content: ""; }
  .icon.icon--viber-logo:before {
    content: ""; }
  .icon.icon--watch:before {
    content: ""; }
  .icon.icon--whatsapp-logo:before {
    content: ""; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: .3s;
  color: #000;
  font-family: Roboto; }

body {
  font-family: Roboto; }

.header__top {
  background-color: #f1f5f8;
  border-bottom: 1px solid #d1dae1;
  min-height: 40px;
  padding-left: 12.5%;
  padding-right: 12.5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.nav-bar {
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch; }

.nav-toggle {
  display: none; }

.personal-area {
  display: none; }

.hav-link {
  vertical-align: middle;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: #788188;
  outline: 2px; }
  .hav-link:hover {
    text-decoration: underline;
    background-color: #d4dde4; }

.social-links > .icon {
  color: #d1d8e0;
  background-color: #fff;
  border-radius: 999rem;
  padding: 6px;
  margin-left: 10px; }
  .social-links > .icon:first-child {
    margin-left: 0; }
  .social-links > .icon:hover {
    color: #000;
    background-color: #d4dde4; }

.language__link {
  display: inline-block;
  height: 22px;
  width: 30px;
  border-radius: 3px;
  border: 2px solid #d6d9e0;
  opacity: .4;
  margin-left: 9px; }
  .language__link:first-child {
    margin-left: 0; }
  .language__link--en {
    background: url(./../../images/gb-flag.svg) no-repeat;
    background-size: cover;
    background-origin: border-box; }
  .language__link--kz {
    background: url(./../../images/kz-flag.svg) no-repeat;
    background-size: cover;
    background-origin: border-box; }
  .language__link--ru {
    background: url(./../../images/ru-flag.svg) no-repeat;
    background-size: cover;
    background-origin: border-box; }
  .language__link:hover {
    border: 2px solid #42b91c;
    opacity: 1; }

.header--bottom {
  padding: 5px 12.5% 5px 12.5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center; }

.partners-info {
  display: none; }

.contact--info {
  width: 530px;
  height: 85px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.contact--mail {
  font-size: 12px; }
  .contact--mail > .icon {
    color: #2bbcf3;
    padding-right: 5px;
    font-weight: 900; }

.work-time {
  font-size: 12px; }
  .work-time > .icon {
    color: #4bc920;
    padding-right: 5px; }
  .work-time--tablet {
    display: none; }

.contact-tel {
  font-size: 32px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.social-tel--links {
  background-color: #fff5c8;
  border-radius: 3px;
  border: 1px solid #feefaa;
  width: 275px;
  height: 60px;
  box-shadow: 0 2px 0 #a3a3a3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.social-tel--links--tel {
  display: none; }

.social-tel--link {
  font-size: 14px; }
  .social-tel--link:hover {
    background-color: #feefaa; }
  .social-tel--link > .icon {
    margin-right: 10px;
    color: #fff;
    padding: 2px;
    margin-left: 5px; }
    .social-tel--link > .icon--viber-logo {
      background-color: #7a529b; }
    .social-tel--link > .icon--whatsapp-logo {
      background-color: #64bc56; }
    .social-tel--link > .icon--telegram-logo {
      background-color: #65a8dc; }
    .social-tel--link > .icon--icq-logo {
      background-color: #5ce95d; }

.users-links {
  width: 240px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.user-name {
  font-weight: 700;
  text-decoration: underline; }

.account-links {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.link--to-account {
  color: #fff;
  background-color: #42ba1d;
  padding: 7px;
  border-radius: 3px;
  box-shadow: 0 2px 0 #36a312; }
  .link--to-account:hover {
    background-color: #23710a; }
  .link--to-account > .icon {
    padding-left: 10px;
    padding-right: 10px; }

.link--to-exit {
  font-weight: 900;
  text-decoration: underline; }

.home-top--bunner {
  height: 650px;
  width: 100%;
  background-image: url(./../../images/home-top--bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 12.5% 0 12.5%;
  position: relative; }

h1 {
  padding: 0;
  margin: 0; }

.bunner--left-side--info {
  float: left;
  margin-top: 35px; }

.home-top--bunner--tablet-title {
  display: none; }

/*================
     FORM
==================*/
.exchange-form {
  background-color: #f2f2f4;
  border-radius: 3px;
  border: 1px solid #d2d9e1;
  width: 640px;
  height: 305px;
  opacity: .95;
  padding: 25px;
  position: relative; }

.exchange--link {
  display: none; }

.split--input-dropdown {
  width: 310px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #b1b6c9;
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 5px; }

.split-btn__open-btn {
  position: absolute;
  right: 0;
  width: 110px;
  height: 100%; }
  .split-btn__open-btn > img {
    margin-left: 5px;
    margin-top: 5px; }

.split-btn__select {
  position: absolute;
  right: 2px;
  top: 1px;
  height: 96%;
  border: 0;
  cursor: pointer; }

.exchange-input {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  padding-left: 5px; }

.exchange-form__msg {
  display: inline-block;
  width: 230px;
  position: absolute;
  right: 5px;
  top: 140px;
  line-height: 120%; }

.exchange-form__link {
  margin-left: 10px;
  color: #5ebe65; }
  .exchange-form__link:hover {
    text-decoration: underline; }

.exchange-form__btn {
  height: 45px;
  width: 100%;
  background-color: #42ba1d;
  color: #fff;
  border: 0;
  border-radius: 5px;
  margin-top: 30px; }
  .exchange-form__btn:hover {
    background-color: #3f9923; }
  .exchange-form__btn > .icon {
    padding-right: 10px; }

.bunner--right-side--info {
  float: right; }

.support {
  margin-top: 30px;
  background-color: #f2f2f4;
  height: 85px;
  width: 270px;
  border-radius: 3px;
  border: 1px solid #d2d9e1;
  padding: 10px; }
  .support > span {
    font-size: 20px; }
  .support__icon {
    float: left;
    width: 60px;
    height: 60px;
    background: url(./../../images/cupport-icon.png);
    margin-right: 10px; }
  .support__info {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

.time-in-us {
  font-weight: 800;
  text-decoration: underline; }

.support__link {
  color: #248fbb; }
  .support__link > .icon {
    padding-right: 5px;
    font-weight: 900; }

.advertising {
  margin-top: 35px;
  width: 270px;
  height: 175px;
  background-color: #f2f2f4;
  border-radius: 3px;
  border: 1px solid #d2d9e1;
  padding: 15px 20px 15px 20px; }
  .advertising__icon {
    float: left;
    width: 55px;
    height: 60px;
    margin-right: 20px;
    background-image: url(./../../images/money-logo.jpg);
    background-size: contain; }
  .advertising__top-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px; }
  .advertising__slogan {
    font-size: 20px; }
  .advertising__partner-link {
    background-color: #268fbe;
    display: block;
    text-align: center;
    padding-top: 8px;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    height: 35px;
    border-radius: 3px;
    margin-top: 15px; }
    .advertising__partner-link > .icon {
      padding-right: 5px;
      margin-top: 10px; }
    .advertising__partner-link:hover {
      background-color: #025b83; }
  .advertising__bottom-text {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    margin-top: 10px;
    line-height: 150%; }

.last-exchange {
  margin-top: 15px; }
  .last-exchange__link {
    font-size: 24px;
    text-decoration: underline; }
  .last-exchange__date {
    margin: 20px 0 10px 0;
    font-style: italic;
    color: #007bb6; }

.money-transfer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center; }
  .money-transfer > img {
    height: 25px;
    width: 25px; }
  .money-transfer > span {
    margin: 5px;
    text-decoration: underline;
    color: #4b5966;
    font-weight: 900; }
  .money-transfer > .icon {
    text-decoration: none;
    color: #a1a9b4; }

.navbar__content.container {
  display: none; }

@media (max-width: 1340px) {
  .home-top--bunner, .header__top, .header--bottom {
    padding: 0 100px 0 100px; } }

@media (min-width: 1024px) and (max-width: 1180px) {
  .home-top--bunner, .header__top, .header--bottom {
    padding: 0 30px 0 30px; }
  .hav-link {
    padding-left: 10px;
    padding-right: 10px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .contact--info {
    display: none; }
  .header__top {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .nav-bar {
    -ms-flex-order: 4;
        order: 4;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .hav-link {
    padding-left: 5px;
    padding-right: 5px; }
  .header--bottom {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20px;
    padding-bottom: 30px;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .home-top--bunner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .home-top--bunner--tablet-title {
    display: block;
    text-align: center;
    font-size: 36px;
    padding-bottom: 25px; }
  .work-time--tablet {
    display: block; }
  .bunner--left-side--info {
    padding-left: 6%;
    padding-right: 6%; }
    .bunner--left-side--info > h1, .bunner--left-side--info > ol {
      display: none; }
  .bunner--right-side--info {
    display: none; }
  .partners-info {
    height: 100px;
    width: 240px;
    background-color: #fff5c8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center; }
  .payments {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .payments__logo {
      height: 38px;
      width: 35px;
      background-image: url(./../../images/bag-icon.png);
      background-size: cover;
      margin-right: 5px; }
    .payments__info--title {
      color: #348b19;
      font-weight: 900; }
    .payments__info > span {
      font-size: 12px; }
    .payments__info--link {
      float: right;
      font-size: 14px;
      text-decoration: underline;
      color: #268fbd; }
  .discounts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .discounts__logo {
      height: 38px;
      width: 50px;
      background-image: url(./../../images/discont-icon.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 5px;
      margin-left: 10px; }
    .discounts__info {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .discounts__title {
      font-weight: 700; }
    .discounts__link {
      color: #268fbd;
      font-size: 14px; } }

@media (max-width: 767px) {
  .header--bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    -ms-flex-align: center;
        align-items: center; }
  .users-links, .work-time, .contact--mail {
    display: none; }
  .header__top {
    padding-left: 15px;
    padding-right: 15px; }
  .header--bottom {
    width: 100%;
    padding: 0; }
  .contact--info {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    padding-top: 20px; }
  .social-tel--links {
    display: none; }
  .social-tel--links--tel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .social-tel--link {
    margin: 0; }
    .social-tel--link:hover {
      background: none;
      margin-top: -5px; }
  .bunner--right-side--info {
    display: none; }
  .bunner--left-side--info {
    float: none;
    margin-top: 10px; }
    .bunner--left-side--info > ol {
      display: none; }
    .bunner--left-side--info > h1 {
      display: none; }
  .home-top--bunner {
    background: none;
    padding: 0;
    width: 100%;
    height: 380px; }
  .exchange-form {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 15px; }
    .exchange-form > label {
      font-weight: 700; }
    .exchange-form__msg {
      width: 100%;
      text-align: center;
      top: 200px; }
    .exchange-form__link {
      display: none; }
  .split--input-dropdown {
    width: 100%; }
  .social-links {
    display: none; }
  .nav-bar {
    display: none; }
  .exchange--link {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 28px; }
  .nav-toggle {
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer; }
    .nav-toggle__line {
      margin-bottom: 7px;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #979797; }
  .personal-area {
    display: block;
    cursor: pointer; }
    .personal-area > .icon {
      font-size: 10px;
      vertical-align: baseline;
      margin-left: 5px; }
  .navbar__content.container {
    display: block; }
  .nav-main {
    display: block;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 0.05em;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
    width: 100%;
    background-color: #909598;
    position: absolute;
    left: -100%;
    top: 0;
    transition: left .3s; }
    .nav-main.visible {
      left: 0; }
    .nav-main li, .nav-main ul {
      margin: 0;
      padding: 0; }
    .nav-main__item {
      display: block;
      margin-right: -4px;
      transition: background-color .2s; }
      .nav-main__item:first-child {
        padding-top: 10px; }
    .nav-main__link {
      margin-right: -4px;
      display: inline-block;
      color: #fff;
      width: 100%;
      padding: 15px 0; }
      .nav-main__link:hover {
        background-color: #3f9923;
        transition: background-color .2s; }
      .nav-main__link .active {
        background-color: #3f9923; }
  .nav-toggle {
    display: block;
    position: absolute;
    right: -50px;
    top: 10px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: transform .5s; }
    .nav-toggle.visible {
      right: 10px;
      transform: rotate(-180deg);
      transition: transform .5s; }
    .nav-toggle__line {
      margin-bottom: 7px;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #000; } }

/*# sourceMappingURL=main.css.map */
