
$icon-alarm: "\EA01" !default;

$icon-book: "\EA02" !default;

$icon-computer: "\EA03" !default;

$icon-home: "\EA04" !default;

$icon-image: "\EA05" !default;

$icon-line-graph: "\EA06" !default;

$icon-search: "\EA07" !default;

$icon-shoping-card: "\EA08" !default;

$icon-users: "\EA09" !default;