@import "components/normalize";
@import "components/vars";
@import "components/btn";
@import "components/fields";


*{
  box-sizing: border-box;
}
.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0 20px;
  overflow: hidden;
}

