
$icon-cube-side: "\EA01" !default;

$icon-doc: "\EA02" !default;

$icon-facebook: "\EA03" !default;

$icon-instagram: "\EA04" !default;

$icon-nav-icon1: "\EA05" !default;

$icon-nav-icon2: "\EA06" !default;

$icon-nav-icon3: "\EA07" !default;

$icon-nav-icon4: "\EA08" !default;

$icon-telephone-symbol-button: "\EA09" !default;

$icon-twitter: "\EA0A" !default;