
$icon-facebook: "\EA01" !default;

$icon-instagram: "\EA02" !default;

$icon-pinterest: "\EA03" !default;

$icon-rate-star: "\EA04" !default;

$icon-twitter: "\EA05" !default;

$icon-youtube: "\EA06" !default;