/*fonts*/
$main-font: 'Open Sans', sans-serif;
$title-font: 'Oswald', sans-serif;

/*colors*/
$focus-color: #ce2c52;
$main-text-color: #333333;
$second-color: #999999;
$btn-price-color: #8ae6cf;
$share-color: #2c87ce;