
$icon-001-youtube: "\EA01" !default;

$icon-002-lightning-bolt-shadow: "\EA02" !default;

$icon-003-exclamation-button: "\EA03" !default;

$icon-004-graphic: "\EA04" !default;

$icon-005-facebook-app-logo: "\EA05" !default;

$icon-006-technology: "\EA06" !default;

$icon-007-vk: "\EA07" !default;

$icon-008-eye: "\EA08" !default;

$icon-009-twitter-logo-silhouette: "\EA09" !default;

$icon-010-facebook-logo: "\EA0A" !default;

$icon-search: "\EA0B" !default;