
$icon-NovaPoshta: "\EA01" !default;

$icon-arrow-down: "\EA02" !default;

$icon-arrow-sent: "\EA03" !default;

$icon-bag: "\EA04" !default;

$icon-basket: "\EA05" !default;

$icon-chat: "\EA06" !default;

$icon-checked: "\EA07" !default;

$icon-delivery-man: "\EA08" !default;

$icon-delivery: "\EA09" !default;

$icon-down-chevron: "\EA0A" !default;

$icon-facebook: "\EA0B" !default;

$icon-filter: "\EA0C" !default;

$icon-forward-arrow: "\EA0D" !default;

$icon-gift: "\EA0E" !default;

$icon-gift2: "\EA0F" !default;

$icon-google-plus: "\EA10" !default;

$icon-guarantee: "\EA11" !default;

$icon-heart-dark: "\EA12" !default;

$icon-heart-outline: "\EA13" !default;

$icon-icon-arr-right: "\EA14" !default;

$icon-icon-arrows: "\EA15" !default;

$icon-icon-sent: "\EA16" !default;

$icon-instagram: "\EA17" !default;

$icon-left-chevron: "\EA18" !default;

$icon-like: "\EA19" !default;

$icon-lock: "\EA1A" !default;

$icon-mail: "\EA1B" !default;

$icon-opinion: "\EA1C" !default;

$icon-plus: "\EA1D" !default;

$icon-profile: "\EA1E" !default;

$icon-promo: "\EA1F" !default;

$icon-question: "\EA20" !default;

$icon-refresh: "\EA21" !default;

$icon-right-chevron: "\EA22" !default;

$icon-rss-symbol: "\EA23" !default;

$icon-search: "\EA24" !default;

$icon-shirt: "\EA25" !default;

$icon-shoes: "\EA26" !default;

$icon-shop: "\EA27" !default;

$icon-size: "\EA28" !default;

$icon-skirt: "\EA29" !default;

$icon-soccer-ball: "\EA2A" !default;

$icon-spyglass: "\EA2B" !default;

$icon-t-shirt: "\EA2C" !default;

$icon-youtube: "\EA2D" !default;