
$icon-account: "\EA01" !default;

$icon-e-mail: "\EA02" !default;

$icon-exchange: "\EA03" !default;

$icon-facebook-logo: "\EA04" !default;

$icon-google-plus: "\EA05" !default;

$icon-icq-logo: "\EA06" !default;

$icon-telegram-logo: "\EA07" !default;

$icon-triangle-down: "\EA08" !default;

$icon-triangle-right: "\EA09" !default;

$icon-twitter-logo: "\EA0A" !default;

$icon-viber-logo: "\EA0B" !default;

$icon-watch: "\EA0C" !default;

$icon-whatsapp-logo: "\EA0D" !default;